In [2]:
import numpy as np
import pandas as pd
import astropy
from astropy.coordinates import SkyCoord
from astropy import units as u

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/astroclubiitk/computational-astrophysics/main/Week-3/Assignment/Clusters.csv")
df.head()

           RA        DEC  Cluster
0  279.106183 -23.905930      1.0
1  279.093075 -23.909687      1.0
2  279.087353 -23.900153      1.0
3  279.096235 -23.902155      1.0
4  279.088062 -23.903066      1.0

In [4]:
df_1=df.where(df['Cluster']==1.0)
df_1=df_1.dropna()

In [5]:
df_2=df.where(df['Cluster']==2.0)
df_2=df_2.dropna()
df_2.head()

            RA        DEC  Cluster
50  159.315954  65.320547      2.0
51  158.987567  65.670126      2.0
52  159.069098  65.854044      2.0
53  158.332574  65.536196      2.0
54  159.387041  65.606611      2.0

In [6]:
ra_1=np.array(df_1['RA'].tolist())
ra_1_m=np.mean(ra_1)
dec_1=np.array(df_1['DEC'].tolist())
dec_1_m=np.mean(dec_1)
print(ra_1_m)
print(dec_1_m)
ra_2=np.array(df_2['RA'].tolist())
ra_2_m=np.mean(ra_2)
dec_2=np.array(df_2['DEC'].tolist())
dec_2_m=np.mean(dec_2)
print(ra_2_m)
print(dec_2_m)

279.10024840836667
-23.90191594401699
158.83323379097496
65.75444474392995

In [7]:
cluster_avg={ 'RA':  [ra_1_m,ra_2_m],
              'DEC': [dec_1_m,dec_2_m]
            }
df_n = pd.DataFrame(cluster_avg, columns = ['RA', 'DEC'])
df_n.head()
#"Datframe giving the average location for cluster "

           RA        DEC
0  279.100248 -23.901916
1  158.833234  65.754445

In [8]:
dfm = pd.DataFrame(columns=['RA', 'DEC', 'Name'], index=range(110))

In [9]:
Messiers = []
for i in range(1,111):
    Messier = str("Messier ") + str(i)
    Messiers.append(Messier)
dfm['Name']=Messiers
for i in range(len(dfm)):
    Coordinate = SkyCoord.from_name(dfm['Name'][i])
    dfm['RA'][i] = Coordinate.ra.degree
    dfm['DEC'][i] = Coordinate.dec.degree


print(dfm.head())

        RA      DEC       Name
0  83.6331  22.0145  Messier 1
1  323.363 -0.82325  Messier 2
2  205.548  28.3773  Messier 3
3  245.897 -26.5257  Messier 4
4  229.638  2.08103  Messier 5

In [10]:
dfm.to_csv("Messiers.csv", index=None)

In [11]:
RA1=np.asarray(df_n['RA'])
DEC1=np.asarray(df_n['DEC'])
c1 = SkyCoord(ra=RA1*u.degree, dec=DEC1*u.degree, frame='icrs')
RA2=np.asarray(dfm['RA'])
DEC2=np.asarray(dfm['DEC'])
c2 = SkyCoord(ra=RA2*u.degree, dec=DEC2*u.degree, frame='icrs')

In [12]:
idx,d2d,d3d = (c1).match_to_catalog_sky(c2)

In [13]:
matches=[]
max_radius=30./3600

for id1, (closest_id2, dist) in enumerate(zip(idx, d2d)): #iterate over every element in idx
    closest_dist = dist.value

    if closest_dist < max_radius: #if closest_distance is less than max threshold for errors they must be the same object
        matches.append([id1, closest_id2, closest_dist])

In [14]:
print(len(matches))

1

In [15]:
print(matches)

[[0, 21, 0.00287045282443897]]

In [16]:
print('The globular cluster 1 matches with Messier 22')
print('-'*100)
print(df_n.iloc[0])
print('-'*100)
print(dfm.iloc[21])

The globular cluster 1 matches with Messier 22
----------------------------------------------------------------------------------------------------
RA     279.100248
DEC    -23.901916
Name: 0, dtype: float64
----------------------------------------------------------------------------------------------------
RA           279.1
DEC       -23.9047
Name    Messier 22
Name: 21, dtype: object